body {
  margin: 0;
  background-color: rgb(58, 58, 58);
}
.outer-box {
  width: 95%;
  height: 200px;
  background-color: rgb(124, 124, 124);
  margin-top: 100px;
  padding: 30px;
}
.inner-box {
  width: 33%;
  height: 100%;
  position: relative;
  left: 0;
  background-color: rgb(26, 26, 26);
  transition: 0.3s;
}

button {
  position: absolute;
  top: 420px;
  left: 550px;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  background-color: lightgray;
  transition: 0.3s;
}

button:hover {
  /* background-color: gray; */
  /* color: white; */
  box-shadow: 3px 3px 3px;
}
